@import '~/assets/css/variables.scss';
.flex {
  display: flex;
}

.justify-c {
  justify-content: center;
}
.justify-sb {
  justify-content: space-between;
}

.align-c {
  align-items: center;
}

// btn
.btn {
  height: 40px;
  padding: 0 20px;
  font-size: $font-size-medium;
  border: none;
  border-radius: 5px;
  background: none;
  &:hover {
    cursor: pointer;
  }
  &.btn-white {
    box-shadow: 1px 3px 6px #f2f2f2;
    color: $color-gray-400;
    background-color: #fff;
    &:hover {
      background-color: $color-gray-100;
    }
  }

  &.btn-primary {
    box-shadow: 1px 3px 6px #f2f2f2;
    color: #fff;
    background-color: $color-primary;
    &:hover {
      background-color: $color-primary-dark;
    }
  }
}

.t-gray {
  color: #666 !important;
}
.t-gray-light {
  color: #a1a1a1 !important;
}
.t-primary {
  color: $color-primary;
}

// container
.max-container {
  width: $container-max-width;
}

.content-container {
  width: $content-width;
  padding-top: $content-padding-top;
}
