#content {
  width: 800px;
  margin: 0 auto;
  margin-top: calc(120px - $header-height);
  margin-bottom: 120px;
  &.post {
    .title {
      text-align: center;
      font-size: 36px;
      margin: 0 0 10px 0;
    }
    .meta-info {
      text-align: center;
      position: relative;
      margin-bottom: 30px;
      .created {
        font-size: 14px;
        display: inline-block;
      }
      .meta-info-btns {
        position: absolute;
        right: 0;
        top: 0;
        button + button {
          margin-left: 10px;
        }
        button {
          font-size: 14px;
          background: none;
          color: $color-blurrier;
        }
      }
    }
  }
}
