#header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: $header-height;
  padding: 0 30px;
  background: $color-background-level-4;
  backdrop-filter: blur(10px);
  position: sticky;
  top: 0;
  .title {
    font-size: 18px;
    font-weight: 600;
  }

  .header-btns {
    display: flex;
    align-items: center;
    button + button {
      margin-left: 10px;
    }
    button {
      height: 100%;
      padding: 5px 10px;
      background: none;
      font-size: 18px;

      border: none;
      border-radius: 50%;
      outline: none;
      cursor: pointer;
      &:hover {
        background-color: $color-gray-200;
      }
    }

    .write-btn {
      display: inline-block;
      margin-left: 10px;
      padding: 5px 10px;
    }
  }
}
