#stored-xss {
  padding: 20px;

  nav {
    li {
      margin-top: 10px;
      a {
        color: #fff;
      }
    }
  }
  > div {
    * {
      color: #333;
    }
    display: flex;
    justify-content: center;
    width: fit-content;
    margin: 0 auto;
    padding: 40px;
    background-color: floralwhite;
    gap: 30px;

    > ul {
      width: 400px;
      list-style: none;
      padding-left: 0;
      li {
        display: flex;
        padding: 10px 20px;
        background-color: burlywood;
        margin-top: 5px;
        .icon {
          margin-left: auto;
          padding: 0;
          font-size: 14px;
          cursor: pointer;
        }
        a {
          text-decoration: none;
        }
      }
    }
    > div {
      display: flex;
      flex-direction: column;
      width: 500px;
      gap: 10px;
      input {
        height: 40px;
      }
    }

    button {
      padding: 10px 20px;
      background-color: burlywood;
    }
  }
}
#reflected-xss {
  padding: 20px;
  nav {
    li {
      margin-top: 10px;
      a {
        color: #fff;
      }
    }
  }
  > div {
    width: 500px;
    margin: 0 auto;
    padding: 40px;
    background-color: floralwhite;
    * {
      color: #333;
    }
    input,
    p {
      margin-left: 10px;
    }

    > div {
      display: flex;
      align-items: center;
    }
  }
}
