$container-max-width: 1200px;

$content-width: 800px;
$content-padding-top: 50px;

$sidebar-width: 200px;

$header-height: 65px;

// font-size
$font-size-medium: 18px;

// color
$color-primary: #ff935b;
$color-primary-dark: #ff7f3f;
// $color-primary-light: '';

// $color-secondary: #6c757d;
// $color-secondary-dark: #54595e;
// $color-secondary-light: #abb5be;

// $color-status-success: #28a745;
// $color-status-danger: #dc3545;
// $color-status-warning: #ffc107;
// $color-status-info: #17a2b8;

$color-border-gray: #ccced1;

$color-gray-100: #f6f6f6;
$color-gray-200: #ececec;
